body {
	font: 13px sans-serif;
	margin: 0px
}

button, input, select {
	background-color: white;
	border: 1px solid gray;
	border-radius: 3px;
	font: inherit;
	margin: 0px;
	padding: 4px 6px
}

button:hover, .drop_item:hover, input:hover, li:not(.selected) > span:hover, select:hover {
	background-color: #eee;
	color: black
}

button.active {
	background-color: gray;
	color: white
}

.drop_container {
	display: inline-block;
	position: relative
}

.drop_container:hover > .drop_content { display: block }

.drop_content {
	background-color: white;
	box-shadow: 0px 0px 8px;
	display: none;
	padding: 3px 5px;
	position: absolute;
	z-index: 1
}

.drop_item {
	cursor: pointer;
	min-width: 100px;
	padding: 3px 0px
}

header { background-color: #ddd }

li.selected {
	background-color: #88f;
	color: white;
}

li > span { cursor: pointer; }

.list {
	height: 400px;
	overflow: auto;
	width: 200px
}

@media only screen and (min-width: 800px) { .list { width: 25% } }

.panel {
	background-color: white;
	box-shadow: 0px 0px 8px;
	float: right;
	margin-left: 15px;
	margin-top: 9px;
	padding: 3px 5px
}

svg {
	cursor: crosshair;
	position: absolute;
	z-index: -1
}

td > input, td > select { width: 150px }

textarea {
	display: block;
	font: 13px monospace
}

th {
	min-width: 100px;
	text-align: right
}

.toolbox {
	margin-right: 5px;
	padding: 3px 5px
}

ul {
	list-style-position: inside;
	list-style-type: none;
	padding-left: 15px
}

ul.root {
	list-style-type: initial;
	padding-left: 0px
}
