body { font: 13px sans-serif }

button, input, select { font: inherit }
/*
.canvas {
	border: 1px solid gray;
	display: inline-block;
	height: 600px;
	overflow: hidden
}
*/
.drop_container {
	display: inline-block;
	position: relative
}

.drop_content {
	position: absolute;
	z-index: 1
}

.float {
	background-color: white;
	box-shadow: 0px 0px 8px;
	margin-bottom: 3px;
	margin-right: 5px;
	padding: 3px 5px;
}

header { margin-bottom: 3px }

li.selected {
	background-color: #88f;
	color: white;
}

li > span { cursor: pointer; }

.list {
	height: 200px;
	overflow: auto;
	width: 200px
}

.menu_item {
	cursor: pointer;
	min-width: 100px;
	padding: 3px 0px
}

.menu_item:hover { background-color: #eee }

#navi > input { width: 75px }

svg { border: 1px solid gray }

th { text-align: right }

ul {
	list-style-position: inside;
	list-style-type: none;
	padding-left: 15px
}

ul.root {
	list-style-type: initial;
	padding-left: 0px
}